{{#if editMode}}
  <input type="text" class="form-control" name="editComment" value="{{commentContent}}"/>
{{else}}
  <div class='pull-left comment-content'>
    <div>
      <a href="javascipt:void(0)">{{userName}}</a>
      <span>
        {{commentContent}}
      </span>
    </div>
  </div>
  {{#if myself}}
  <div class="action-comment pull-right">
    <i class="glyphicon glyphicon-pencil btn-edit-comment" aria-hidden="true"></i>
    <i class="glyphicon glyphicon-remove btn-delete-comment" aria-hidden="true"></i>
  </div>
  {{/if}}
{{/if}}
