<div class="header clearfix">
  <div class="title-app pull-left">
    <strong>Blog Online</strong>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true" id="user-profile">{{firstname}} {{lastname}}</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="javascript:void(0);" id="btn-logout">Log out</a></li>
        <li><a href="#changepassword">Change password</a></li>
      </ul>
    </li>
  </ul>
</div>
