$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import '/bower_components/backgrid-paginator/backgrid-paginator.css';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

ul {
  list-style: none;
}

.btn-delete-comment, .btn-edit-comment, .btn-edit-article, .btn-delete-article {
  padding: 5px 5px;
  cursor: pointer;
}

.input-content {
  padding-bottom: 10px;
}

.item-article {
  border-bottom: 1px solid #ccc;
}
.article-content{
  padding: 20px 15px;
}


.wrap-comment, .content-body {
  padding: 10px 0px;
}
.title-article {
  font-size: 25px;
}
.comment-item {
  line-height: 30px;
}

.image-wrap {
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
}

.comment-content span, .postby, {
  padding: 0px 20px;
}
.title-app {
  padding: 20px 0px;
}
